@-moz-document url("https://headwayapp.co/widgets/5JVKAy"), domain("streamable.com") {
html, body {
    background-color: #1C1E22;
}

.container {
    background-color: #1C1E22;
}

.content-center-container {
    background-color: #1C1E22;
}

header {
    background: #1c1e22;
}

header a {
    color: #678eaf;
}

footer, footer a {
    color: rgb(79, 135, 170);
}

.changelogItem .logTime a {
    color: rgb(103, 142, 175);
}

.changelogItem .content, .changelogItem h2 {
    color: #678EAF;
}

.changelogItem {
    border-bottom: 1px solid #000000;
}

#changelog-list {
    border-top: 1px solid #000000;
}

.nav-container {
    background-color: #1A2126;
    border-bottom: 1px solid #000;
}

.nav-container#upload {
    border-bottom: 1px solid #000;
}

.box {
    background-color: #1A2126;
    border: 1px solid #000000;
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.alert {
    background-color: #1A2126;
    border: 1px solid #000;
}

#player #edit-title-input {
    background-color: #1c1e22;
    border: 1px solid #000;
}

.form-control {
    border: 1px solid #000000;
    background-color: #1C1E22;
}

.form-control:focus {
    background: #1C1E22;
    border-color: #000000;
    color: #678EAF;
}

.container#upload .upload-divider span {
    background: #1c1e22 !important;
    color: #999999 !important;
}

.container#search .youtube-links {
    border-bottom: 1px solid #000;
    color: #678EAF;
}

.container#search #search-box {
    background-color: #1C1E22;
}

.container#search .search-result {
    border-bottom: 1px solid #000;
}


.container#account .search-box-container {
    background-color: #1C1E22;
    color: #678EAF;
    border: 1px solid rgb(0, 0, 0);
}

.container#account .album-header input {
    background-color: #1c1e22;
    border: 1px solid #000;
}

.container#account .actions button, .container#account .album-header button {
    background-color: #1C1E22;
    border: 1px solid rgb(0, 0, 0);
}

.container#profile #profile-videos-container .activity-item .activity-item-content {
    color: #678EAF;
}

.container#profile #profile-videos-container .activity-item .activity-item-content p {
    color: #678EAF;
}

.container#profile .profile-header #user_data #user_name {
    color: #678EAF;
}

.container#profile .profile-header #user_data #user_details {
    color: #678EAF;
}

.container#profile .profile-header #user_data #user_stats b {
    color: #678EAF;
}

.container#album .album-header .album-title {
    color: #678EAF;
}

.container#album .album-list-item .item-title {
    color: #678EAF;
}

.container#album .album-list-item {
    border-bottom: 1px solid #000;
}

#player video {
    background-color: #1C1E22;
}

#player #comments-container .comment {
    color: #678EAF;
}

.dropdown-menu {
    background-color: #1C1E22;
    border: 1px solid rgb(0, 0, 0);
}

.dropdown-menu .divider {
    background-color: #000000;
}

.dropdown-menu > li > a:hover {
    background-color: #1A2126;
}

#player.container #video-footer {
    border-bottom: 1px solid #000;
}

#player.container .dropbutton:hover, #player.container .dropbutton.selected {
    background-color: #1A2126;
}

.dropdown-menu-container .actions-menu, .drop-content .actions-menu {
    background-color: #171d21;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.79);
}

.dropdown-menu-container .actions-menu .action-menu-separator, .drop-content .actions-menu .action-menu-separator {
    background-color: #000;
}

button {
    background: linear-gradient(180deg,#171d21,hsl(204, 18%, 11%)) 0 no-repeat,50% no-repeat #171d21;
}

button:hover {
    background: linear-gradient(180deg,hsl(205, 19%, 13%),hsl(220, 10%, 12%)) 0 no-repeat,50% no-repeat #1a2126;
}

.rc-checkbox-inner {
    background: linear-gradient(180deg,#171d21,hsl(204, 18%, 11%)) 0 no-repeat,50% no-repeat #171d21;
}

.albums-list .albums-list-header {
    border-bottom: 1px solid #000;
}

.albums-list .album-item {
    border-bottom: 1px solid #000;
}

.videos-list .album-header {
    border-bottom: 1px solid #000;
}

.videos-list .album-header .album-metadata .album-name {
    color: #385966;
}

.album {
    background-color: #1c1e22;
}

h3 {
    color: #1e5f8a;
}

.card-title {
    color: #1d5a83;
}

.card-text {
    color: #1c5174;
}

.card-title-small {
    color: #1b5183;
}

#player.container #title {
    color: #678EAF;
}

#player #title {
    color: #678EAF;
}

#player #video-footer {
    border-bottom: 1px solid #000;
}

#player .new-comment-container input {
    border: 1px solid #000;
    background-color: #1C1E22;
    color: #678EAF;
}

#player #comments-content {
    border-top: 1px solid #000;
}

#player #addto-dropdown-menu .dropdown-header {
    border-bottom: 1px solid rgb(0, 0, 0);
}

#player #addto-dropdown-menu li.separator {
    border-bottom: 1px solid rgb(0, 0, 0);
}

#player .metadata-button:hover, #player .metadata-button.selected {
    background-color: #1A2126;
}

#player .dropbutton:visited, #player .dropbutton:focus {
    background-color: #1A2126;
}

#player .dropbutton:hover, #player .dropbutton.selected {
    color: #38566F;
    background-color: #1A2126;
}

#player .clip-button:hover, #player .edit-button:hover, #player .clip-button.selected, #player .edit-button.selected {
    background-color: #1A2126;
}

#player .delete-button:hover, #player .delete-button.selected {
    background-color: #1A2126;
}

#player .stats-button:hover, #player .stats-button .visits-button.selected {
    background-color: #1A2126;
}

#player .report-button:hover, #player .report-button.selected {
    background-color: #1A2126;
}

#player .dropbutton:visited, #player .dropbutton:focus {
    background-color: #1A2126;
}

#player .streams-section .stream-item {
    background-color: #1C1E22;
    border: 1px solid rgb(0, 0, 0);
}


#player .streams-section .stream-item .vote-button:hover {
    background-color: #0F90FA;
    color: #fff;
}

#player .streams-section .stream-item .vote-button {
    border-right: 1px solid rgb(0, 0, 0);
}

.video-item {
    background-color: #1A2126;
    border-bottom: 1px solid #000 !important;
}

.video-item .video-actions button {
    background-color: #1C1E22;
    border: 1px solid rgba(0, 0, 0, 0.96);
}

thead {
    border-bottom: 1px solid #000 !important;
}

.overlay-box .overlay-box-inner .overlay-box-header {
    border-bottom: 1px solid #000000;
    background-color: #1A2126;
}

#share-overlay .share-section, .share-page .share-section, #embed-modal .share-section {
    background-color: #1C1E22;
}


.overlay-box {
    background-color: rgb(28, 30, 34);
}

.overlay-box .overlay-box-inner {
    border: 1px solid #000;
    background-color: #1C1E22;
}

.overlay-box .overlay-box-inner input[type="text"] {
    border-color: #000000;
    color: #678EAF;
    background-color: #1A2126;
}

.overlay-box .overlay-box-inner .input-group .input-group-addon {
    border-color: #000000;
    background-color: #1A2126;
}

#stats .stats-section-title {
    border-bottom: 1px solid #000;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #1C1E22;
}

.input-group-btn .btn-default {
    border-color: #000000;
    background-color: #1C1E22;
    color: #678EAF;
}

.form-horizontal .control-label {
    color: #678EAF;
}

.popover-title {
    background-color: #1A2126;
    border-bottom: 1px solid #000000;
    color: #678EAF;
}

.popover-content {
    background-color: #1C1E22;
    color: #678EAF;
}

.popover.top>.arrow {
    border-top-color: rgb(0, 0, 0);
}

.popover.top>.arrow:after {
    border-top-color: #1C1E22;
}

.popover {
    background-color: #000;
}

#profile_edit button[type=submit] {
    background-color: #1C1E22;
}

.nav-container .nav-dropdown {
    border: 1px solid #000;
    background-color: #1C1E22;
    box-shadow: 0px 1px 2px #000;
}

.nav-container .nav-dropdown .nav-dropdown-footer {
    border-top: 1px solid #000;
    background-color: #1A2126;
}

.container#stream .stream-sort {
    background-color: #1A2126;
    border: 1px solid #000;
}

.container#stream .stream-list-item {
    border-bottom: 1px solid #000;
}

.container#stream .stream-list-item .item-upvote {
    border: 1px solid #000000;
    background-color: #1C1E22;
}

.container#stream .stream-title p {
    color: #678EAF;
}

.container#stream .stream-list-item .item-title {
    color: #0F90FA;
}

.container#stream .stream-list-item .item-content:hover .item-title {
    color: #678EAF;
}

.container#profile .profile-header .profile-actions {
    overflow-x: hidden;
}

.container#profile .profile-header .profile-actions .action {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #1c1e22;
}

.container#profile .profile-header .profile-actions .action:first-of-type {
    border-left: 1px solid #000;
}

.container#profile .profile-header .profile-actions {
    border-top: 1px solid #000;
}

.container#profile .profile-header .profile-actions .action:hover {
    background-color: #1a2126;
}

.modal-header {
    border-bottom: 1px solid #000000;
    background-color: #1A2126;
}

#signin form {
    border-color: #000000;
}

#signin .header .tab.active {
    border: 1px solid #000000;
    background-color: #1A2126;
    border-bottom: 2px solid #1A2126;
}

#publish {
    background-color: #1C1E22;
    border: 1px solid #000000;
}

#publish .publish-footer {
    border-top: 1px solid #000;
}

#publish .publish-section-header {
    border-bottom: 1px solid #000;
}

#publish .publish-popup-button {
    border: 1px solid #000;
}

#publish #close-button {
    background-color: #1c1e22;
    border-color: #000000;
}

#publish #publish-button {
    background-color: #1C1E22;
    border-color: #0f90fa;
}


#publish #publish-button:hover {
    border-color: black;
}

#HW_frame {
    border: 1px solid #000 !important;
    background: #1a2126 !important;
}

#HW_frame_cont {
    background: #000 !important;
}

#HW_frame_peak {
    border: 1px solid #000 !important;
    background: #1c1e22 !important;
}

#HW_badge.HW_softHidden {
    background: #0f90fa !important;
}

.outercont .innercont .logItem {
    color: #628eaa !important;
}

.outercont .innercont h3 {
    border-bottom: 1px solid #000000;
    color: #628eaa !important;
}

.outercont .innercont strong {
    color: #5e7d9c !important;
}

.outercont .innercont .slideCont .slideBody p {
    color: #628eaa !important
}

.container#stats .stats-section-title {
    border-bottom: 1px solid #000 !important;
}

.landing .card {
    color: #628eaa !important;
    background: #1A2126 !important;
}

.landing .footer {
    background-color: #1c1e22;
    border-top: 1px solid #000;
}

.landing {
    background-color: #1a2126;
}

.nav-pills .nav-link {
    color: rgba(98, 142, 170, 0.54) !important;
}

.settings .card {
    color: #628eaa !important;
}

.card {
    background-color: #1A2126 !important;
    border-color: #000 !important;
}

.settings .card .card-footer {
    background-color: #171d21 !important;
}

.video-item.grid .card .card-footer {
    background-color: #171d21 !important;
}

.video-page .card-footer {
    background-color: #1a2126;
    border-top: 1px solid rgb(0, 0, 0);
}

.video-page .tags-input input {
    background: #1c1e22;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    background-color: #171d21 !important;
}

button {
    background-color: rgb(23, 29, 33) !important;
    border: 1px solid rgba(0, 0, 0, 0.37) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35) !important;
}

.rc-checkbox-inner {
    background-color: rgb(23, 29, 33) !important;
    border: 1px solid rgba(0, 0, 0, 0.37) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35) !important;
}

.page-link {
    background-color: #171d21 !important;
    border: 1px solid #000 !important;
}

.page-link:focus, .page-link:hover {
    background-color: #111619 !important;
    border-color: #000 !important;
}


.modal-content {
    background-color: #171d21 !important;
    border: 1px solid rgba(0, 0, 0, 0.92) !important;
}

.embed-maker .embed-section-header {
    border-bottom: 1px solid #000 !important;
}

.embed-maker input[type=text] {
    background-color: #1c1e22 !important;
    border: 1px solid #000000 !important;
}

.modal-footer {
    border-top: 1px solid #000000 !important;
}

.video-item.list {
    border-top: 1px solid #000 !important;
}

.landing .nav-colored {
    background-color: #1a2126;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.78);
}

.outercont .innercont .seeMore {
    background: #192025;
    border-top: 1px solid #000000;
}
}
