#loader h2 {
    color: #000 !important;
}
:root .swx .shellSplashScreen .shellSplashLogo {
    background-size: 100% 100% !important;
}
:root .swx .spinner.white .circle .shape {
    background-color: #000 !important;
}
:root .shellSplashLoading {
    color: #000 !important;
}
:root .swx .Me-large .Me-info .Me-displayName {
    color: #888888 !important;
}
:root .swx .Me-linkText {
    color: #888888 !important;
}
img[src$='skype_logo_white.png'] {
    background-image: url('http://i.imgur.com/4HV87FU.png') !important;
    background-repeat: no-repeat !important;
    width: 0px !important;
    padding-right: 208px !important;
    height: 0px !important;
    padding-bottom: 92px !important;
    background-size: 100% 100% !important;
}
img[src$='skype_logo.png'] {
    background-image: url('http://i.imgur.com/4HV87FU.png') !important;
    background-repeat: no-repeat !important;
    width: 0px !important;
    padding-right: 182px !important;
    height: 0px !important;
    padding-bottom: 82px !important;
    background-size: 100% 100% !important;
}
:root .swx.errorPage .header .skypeLogo {
    background-size: 100% 100% !important;
}
:root body.swx {
    background-color: #161616 !important;
}
:root .swx .shell.main .chatContainer {
    background: #161616 none repeat scroll 0% 0% !important;
}
:root .swx.themeWhite,
:root .swx .themeWhite {
    fill: #161616 !important;
}
:root .swx .shellSplashScreen,
:root .swx .meApp .skyContainer,
body,
:root .swx.themeBlue,
:root .swx .themeBlue {
    background-color: #003448 !important;
}
.swx-container .unsupportedBrowser .unsupportedBrowser_content h1 {
    color: #000 !important;
}
:root .swx .hyperscroll .rail:hover,
:root .swx .hyperscroll.scrolling .rail {
    background-color: #1B1B1B !important;
    border-color: #1B1B1B !important;
}
:root .swx .hyperscroll.scrolling .rail .slider,
:root .swx .hyperscroll:hover .rail .slider {
    background: #2b2b2b none repeat scroll 0% 0% !important;
    border-color: #2b2b2b !important;
}
:root .swx .tile > .tileAvatar > .tileImage {
    background-color: #222 !important;
}
:root .swx .shell.cover.visible {
    background-color: #161616 !important
}
:root .swx .themeWhite .tile.online .presence::before,
:root .swx .themeWhite .tile.mobile .presence::before,
:root .swx .themeWhite .tile.idle .presence::before,
:root .swx .themeWhite .tile.busy .presence::before,
:root .swx .themeWhite .tile.offline .presence::before,
:root .swx .themeWhite .tile.callForwarded .presence::before,
:root .swx .themeWhite .tile.unknown .presence::before,
:root .swx .themeWhite .tile.blocked .presence::before,
:root .swx .tile.online .presence::before,
:root .swx .tile.mobile .presence::before,
:root .swx .tile.idle .presence::before,
:root .swx .tile.busy .presence::before,
:root .swx .tile.offline .presence::before,
:root .swx .tile.callForwarded .presence::before,
:root .swx .tile.unknown .presence::before,
:root .swx .tile.blocked .presence::before {
    background-color: #161616 !important;
}
:root .swx .popup,
:root ul.swxContextMenu {
    background-color: #111 !important;
    color: #CEDDE5 !important;
    border: 1px solid #383838 !important;
}
:root .swx .popup.arrow::before,
:root ul.swxContextMenu .arrow {
    background: transparent url('http://i.imgur.com/iOy2w2L.png') no-repeat scroll left top !important;
}
:root ul.swxContextMenu li:focus span,
:root ul.swxContextMenu li:hover span {
    background-color: #222 !important;
}
:root .swx .shell.notifications .notification.info {
    background-color: #111 !important;
    borer-color: #3a4752 !important;
}
:root .swx.errorPage,
:root .swx.errorPage .errorPageContent,
#grid,
:root .swx.errorPage .helpSection,
:root .swx.errorPage .header {
    background-color: #003448 !important;
    color: #fff !important;
    border: 0px !important;
    box-shadow: 0px 0px 0px !important;
}
:root .swx.errorPage .helpSection .helpDownloads {
    border-left: 0px solid #000 !important;
}
:root .swx.errorPage .helpSection .helpFaq {
    border-right: 0px solid #000 !important;
}
:root .swx.errorPage .errorPageWrapper {
    color: #fff !important;
}
#footer,
#notifications {
    display: none !important;
}
:root .swx {
    color: #cedde5 !important;
}
:root .swx .side .navigation .navItem.active {
    background-color: #222 !important;
}
:root .swx .side .recent .message {
    color: #6E6E6E !important;
}
:root .swx .themeLight .tile.online .presence::after,
:root .swx .themeLight .tile.mobile .presence::after,
:root .swx .themeLight .tile.idle .presence::after,
:root .swx .themeLight .tile.unknown .presence::after {
    background-color: transparent !important;
}
:root .swx .side .recent.active .message {
    color: #475866 !important;
}
:root .swx .side .recent:hover {
    background-color: #111 !important;
}
:root .swx .side .recent.active,
:root .swx .themeWhite.side .recent.active .tile.online .presence::before,
:root .swx .themeWhite.side .recent.active .tile.mobile .presence::before,
:root .swx .themeWhite.side .recent.active .tile.idle .presence::before,
:root .swx .themeWhite.side .recent.active .tile.busy .presence::before,
:root .swx .themeWhite.side .recent.active .tile.offline .presence::before,
:root .swx .themeWhite.side .recent.active .tile.callForwarded .presence::before,
:root .swx .themeWhite.side .recent.active .tile.unknown .presence::before,
:root .swx .themeWhite.side .recent.active .tile.blocked .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.online .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.mobile .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.idle .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.busy .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.offline .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.callForwarded .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.unknown .presence::before,
:root .swx .themeWhite.side .searchItem.active .tile.blocked .presence::before {
    background-color: #003448 !important;
}
:root .swx .chat .input.active {
    background-color: #161616 !important;
}
:root .swx .search .input.active input,
:root .swx .contactPickerInput .contacts input {
    color: #cedde5 !important;
}
:root .swx .chat .input textarea {
    color: #cedde5 !important;
}
:root .swx .chat .history .message.live-session .bubble .content .liveSessionText,
:root .swx .chat .history .message.live-session.their .bubble .content .liveSessionText {
    color: #475866;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
:root .swx .chat .conversation .message.showTimestamp .timestamp p {
    color: #666 !important;
}
:root .swx .chat .conversation .their.message.media .content p.urlPreviewText {
    background-color: #222 !important;
}
:root .swx .chat .conversation .message.media.me .content p.urlPreviewText,
:root .swx .themeLight.chat .conversation .message.me .bubble,
:root .swx .themeLight.chat .conversation .message.me .arrow::after {
    background-color: #111 !important;
}
:root .swx .chat .conversation .message.me .bubble {
    background-color: #111 !important;
    color: #cedde5 !important;
}
:root .swx .themeLight.chat .conversation .message.their .bubble,
:root .swx .themeLight.chat .conversation .message.their .arrow:after {
    background-color: #222 !important;
    color: #cedde5 !important;
}
:root .swx .themeWhite,
:root .swx .themeLight {
    background: #161616 !important;
}
a,
h1,
h2,
h3,
h4 {
    color: #fff !important;
}
:root .swx .grid.container,
:root .swx .side .separator,
:root .swx .meApp .summary .tile .summaryText .summaryMessage,
:root .swx .contactsPage-categoryItem,
:root .swx .themeWhite.peoplePicker .recent .message,
:root .swx .themeWhite.peoplePicker .searchItem .message {
    color: #6E6E6E !important;
}
:root .swx .peoplePicker .searchItem:hover,
:root .swx .peoplePicker .searchItem:focus {
    background-color: #222 !important;
}
:root .swx .contactsPage-body li:focus .searchItem {
    background-color: #222 !important;
}
:root .swx .chat .conversationHeader.active {
    background-color: inherit !important;
}
:root .swx .chat .conversationHeader .contactPickerWrapper {
    background-color: inherit !important;
    border-color: #383838 !important;
}
:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button .iconfont {
    color: #727b7f !important;
}
:root .swx .contactsPage-hint {
    background-color: #222 !important;
    color: #cedde5 !important;
}
:root .swx .meApp .summary {
    border-right: 0px solid #000 !important;
}
:root .swx .side::before,
:root .swx .meApp .summary,
:root .swx .chat .conversationHeader::after,
:root .swx .chat .input::before,
:root .swx .search .input::before,
:root .swx .chat .history .message.participant.their,
:root .swx .contactPickerInput,
:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button::before {
    border-color: #383838 !important;
}
:root .swx .search .splitter {
    background-color: #222 !important;
}
:root .swx .meApp .skyContainer::before,
:root .swx .meApp .skyContainer::after,
:root .swx .meApp .skyContainer .sky,
:root .swx .meApp .skyContainer .sky::before,
:root .swx .meApp .skyContainer .sky::after {
    background: #161616 !important;
}
:root .swx .meApp .skyContainer {
    background-color: #05354d;
}
:root .swx .themeWhite.side .recent:hover .tile.online .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.mobile .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.idle .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.busy .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.offline .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.unknown .presence::after,
:root .swx .themeWhite.side .recent:hover .tile.blocked .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.online .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.mobile .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.idle .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.busy .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.offline .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.unknown .presence::after,
:root .swx .themeWhite.side .recent.hover .tile.blocked .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.online .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.mobile .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.idle .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.busy .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.offline .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.unknown .presence::after,
:root .swx .themeWhite.side .recent:focus .tile.blocked .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.online .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.mobile .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.idle .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.busy .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.offline .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.unknown .presence::after,
:root .swx .themeWhite.side .recent.focus .tile.blocked .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.online .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.mobile .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.idle .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.busy .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.offline .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.unknown .presence::after,
:root .swx .themeWhite.side .searchItem:hover .tile.blocked .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.online .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.mobile .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.idle .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.busy .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.offline .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.unknown .presence::after,
:root .swx .themeWhite.side .searchItem.hover .tile.blocked .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.online .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.mobile .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.idle .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.busy .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.offline .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.unknown .presence::after,
:root .swx .themeWhite.side .searchItem:focus .tile.blocked .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.online .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.mobile .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.idle .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.busy .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.offline .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.callForwarded .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.unknown .presence::after,
:root .swx .themeWhite.side .searchItem.focus .tile.blocked .presence::after {
    background-color: transparent !important;
}
:root .swx .peoplePicker .recent .topic,
:root .swx .peoplePicker .searchItem .topic,
:root .swx .side .recent .topic,
:root .swx .side .searchItem .topic {
    font-weight: bold;
}
nav#scom .centerWrapper {
    background-color: inherit !important;
    border-style: none !important;
    box-shadow: none !important;
}
.skypeLogo a,
.skypeLogo u,
.pageTitle,
nav ul li.mainMenuItem a,
nav li.mainMenuItem.account.username span,
nav .account:hover,
nav .account:focus,
nav .account.hover {
    background: transparent !important;
}
.skypeLogo span,
.svg .skypeLogo span {
    background-image: url('http://i.imgur.com/4HV87FU.png') !important;
    content: none !important;
    background-size: 100% 100% !important;
}
.skypeLogo span::before,
.svg .skypeLogo span::before {
    content: none !important;
}
.skypeLogo.singleItem {
    margin-right: 30px !important;
    margin-top: -7px !important;
}
.loginContainer {
    background: rgba(8, 8, 8, 0.8) none repeat scroll 0% 0% !important;
}
.contentBlock a {
    color: #00AFF0 !important;
}
.contentBlock,
.inputField input,
.messageBox,
.checkbox label .text,
#alternativeSignInTitle {
    color: #FFF !important;
}
.cell.createNewAccount {
    border-top: 1px solid #383838 !important;
}
.loginContainer {
    border-bottom: 0px !important
}
footer {
    background: #0b1519 none repeat scroll 0% 0%!important;
    border-top: 6px solid #002c3c!important;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: inherit !important;
}
:root .swx a {
    color: #00AFF0 !important;
}
.info,
.iconfont.play {
    color: #FFF !important;
}
:root .swx .chat .conversation .message.me .DeliveryStatus .iconfont.presenceStroke,
:root .swx .chat .conversation .message.me .DeliveryStatus .iconfont.presenceOnline,
:root .swx .chat .conversation .message.me .DeliveryStatus .iconfont.warning {
    color: #7FBA00 !important;
}
.message_info {
    background-color: #001B27 !important;
    border: 1px solid #001B27 !important;
}
.atlas.themeWhite,
.atlas.themeBlue .formElement.toggler::after {
    background-color: #161616 !important;
}
:root .swx .chat .history .message.participant.their.spacesWelcomeMessage .bubble .welcomeMessage {
    background-color: #222 !important;
}
:root .swx .chat .history .message.participant.their.spacesWelcomeMessage .bubble .participantMessage {
    border-top: 1px solid #383838 !important;
}
:root .swx .conversationHeader.showCover:after,
:root .swx .conversationHistory.showCover:after,
:root .swx .input.showCover:after {
    background-color: #222 !important;
}
:root .swx .chat .conversationHeader .headerMain .roster .grid .tile.conversationTopic .editTopic {
    background-color: #161616 !important;
}

:root .swx .chat .conversationHeader .headerMain .roster .grid .tile.conversationTopic h3 .hoverWrap>span:first-child {
    color: #CCCCCC !important;
}
:root .swx input,
:root .swx button,
:root .swx textarea,
:root .swx select {
    color: #888 !important;
}
:root .swx .shareControlWrapper {
    border: 1px solid #383838 !important;
    background: #161616 !important;
}
:root .swx .chat .conversation .their.message.media .content .messageTextWrapper {
    background-color: #222 !important;
}
:root .swx .chat .conversation .me.message.media .content .messageTextWrapper {
    background-color: #111 !important;
}
:root .swx.errorPage .helpSection {
    background: rgba(8, 8, 8, 0.8) !important
}
:root:root .swx.errorPage .errorPageWrapper a {
    color: #00AFF0 !important;
}
:root .swx .suggestionList .list .item {
    background-color: #111 !important;
    color: #CEDDE5 !important;
}
:root .swx .suggestionList .list .item.selected {
    background-color: #222 !important;
}
:root .swx .suggestionList {
    border: 1px solid #383838 !important;
}
:root ul.swxContextMenu hr {
    border-color: #383838 !important;
}
:root .swx .themeWhite .btn.secondary>span {
    color: #000 !important;
}
:root .swx .themeWhite .btn>span,
:root .swx .themeWhite .btn.primary>span {
    color: #000 !important;
}
.overlayMain p {
    color: #444 !important;
}
:root .swx .chat .conversation .message.media .content p .mojiContent .mojimask {
    background-image: url('http://i.imgur.com/9wwBxDN.png') !important;
}
:root .swx .chat .conversation .message.media .content p .mojiContent {
    border-radius: 5px !important;
}
:root .swx swx-expressionitems-picker .picker-list .picker-pack .picker-item .moji .mojimask.small {
    background-image: url('http://i.imgur.com/9wwBxDN.png') !important;
}
:root .swx swx-expressionitems-picker .picker-list .picker-pack .picker-item .moji {
    border-radius: 5px !important;
}
:root .swx span.moji .mojimask {
    background-image: url('http://i.imgur.com/9wwBxDN.png') !important;
}
:root .swx .chat .history .message.contact-request-sent .bubble,
:root .swx .chat .history .message.contact-request-accepted .bubble,
:root .swx .chat .history .message.contact-request-sent.their .bubble,
:root .swx .chat .history .message.contact-request-accepted.their .bubble,
:root .swx .chat .history .message.ngc-upgrade .bubble,
:root .swx .chat .history .message.ngc-upgrade.their .bubble,
:root .swx .chat .history .message.participant .bubble,
:root .swx .chat .history .message.participant.their .bubble {
    background-color: transparent !important;
}
:root .swx .chat .history .message.live-session .bubble,
:root .swx .chat .history .message.live-session.their .bubble {
    background-color: transparent !important;
}
:root .swx .themeLight.chat .conversation .message.sticker.me .bubble,
:root .swx .themeLight.chat .conversation .message.sticker.their .bubble {
    background-color: transparent !important;
}
:root .swx .themeLight.chat .conversation .message.media .bubble,
:root .swx .themeLight.chat .conversation .message.youtubePlayer .bubble,
:root .swx .themeLight.chat .conversation .message.contact-info .bubble {
    background-color: transparent !important;
}
:root .swx .chat .history .message.live-session .bubble .content .liveSessionText,
:root .swx .chat .history .message.live-session.their .bubble .content .liveSessionText {
    color: #00AFF0 !important;
}
:root .swx .themeWhite.side .navigation .navItem:focus,
:root .swx .themeWhite.side .navigation .navItem.focus,
:root .swx .themeWhite.side .navigation .navItem:active,
:root .swx .themeWhite.side .navigation .navItem.active {
    background-color: #222 !important;
}
:root .swx swx-contact-picker li.highlighted .searchItem,
:root .swx swx-people-search li.highlighted .searchItem,
:root .swx .ContactsPage-body li:focus .searchItem {
    background-color: #333 !important;
}
:root .swx .ContactsPage-hint {
    background-color: #003448 !important;
    color: #FFF !important;
}
:root .swx .ContactsPage-hint::before {
    color: #FFF !important;
}
:root .swx .themeWhite .recent:hover .presence::before {
    background-color: #111 !important;
}
:root .swx .themeWhite .searchItem:hover .presence::before {
    background-color: #222 !important;
}
:root .swx .themeWhite .searchItem:focus .presence::before {
    background-color: #222 !important;
}
.iconfont.e102::before,
.iconfont.video::before,
.iconfont.e100::before,
.iconfont.callStart::before,
.iconfont.videoOn::before,
:root .swx .themeWhite .recent.hover .tile.online .presence::before,
.iconfont.e41f::before,
.iconfont.chevronUp::before,
.iconfont.e323::before,
.iconfont.send::before {
    color: #161616 !important;
}
:root .swx .presence:after {
    background: transparent !important;
}
:root .swx .Me-skyContainer,
:root .swx .Me-large {
    background-color: #003448 !important;
}
:root .swx .Me-sky {
    background-color: #161616 !important;
}
:root .swx .Me--expanded {
    background: rgba(0, 52, 72, 0.8) none repeat scroll 0% 0% !important;
}
:root .swx .Me-skyContainer::before {
    background-color: #161616 !important;
}
:root .swx .Me-skyContainer::after {
    background-color: #161616 !important;
}
:root .swx .Me-sky::before {
    background-color: #161616 !important;
}
:root .swx .Me-sky::after {
    background-color: #161616 !important;
}
:root .swx .Me-small:before {
    border-right: 1px solid #383838 !important;
}
:root .swx .Me-large.Me-large--visible .Me-avatarContainer .Me-avatar--large .tileAvatar:before {
    background-color: #003448 !important;
}
:root .swx .Me-skyContainer .Me-avatar .tile .presence::before {
    background-color: #161616 !important;
}
:root .swx .ToggleButton::after {
    background-color: #161616 !important;
}
.iconfont.e300:before,
.iconfont.message:before {
    background-color: #111 !important;
}
:root .swx .iconfont.message {
    background-color: #111 !important;
}
:root .swx .icons .iconfont.message {
    background-color: transparent !important;
}
:root .swx .chat .toggler:after {
    background-color: #161616 !important;
}
.iconfont.e505:before,
.iconfont.globe:before {
    color: #161616 !important;
}
:root .swx .TranslatorSettings {
    background-color: #00AFF0 !important;
}
:root .swx .Splitter {
    background-color: #383838 !important;
}
:root .swx .themeLight .btn.secondary.circle.stroke:active::before,
:root .swx .themeLight .btn.secondary.circle.stroke.active::before {
    background-color: transparent !important;
}
:root .swx .settingsButton:active::before,
:root .swx .settingsButton:active::after {
    transform: scale(1.1) !important;
}
:root .swx .themeLight .TranslatorSettings .btn.transparent:hover::before {
    background-color: #0083B4 !important;
}
:root .swx .themeLight .TranslatorSettings .btn.transparent:focus::before {
    background-color: #0095CC !important;
}
:root .swx .themeWhite.side .recent:focus:not(.active),
:root .swx .themeWhite.side .recent.focus,
:root .swx .themeWhite.side .searchItem:focus,
:root .swx .themeWhite.side .searchItem.focus {
    background-color: #111 !important;
}
:root .swx .themeWhite .recent:focus .tile .presence::before {
    background-color: #111 !important;
}
img[src$='PluginChromeIcon.jpg'] {
    background-image: url('http://i.imgur.com/60ngj1l.png') !important;
    background-repeat: no-repeat !important;
    width: 0px !important;
    padding-right: 275px !important;
    height: 0px !important;
    padding-bottom: 105px !important;
}
img[src$='CloseScreen.jpg'] {
    background-image: url('http://i.imgur.com/GftO8z6.png') !important;
    background-repeat: no-repeat !important;
    width: 0px !important;
    padding-right: 80px !important;
    height: 0px !important;
    padding-bottom: 80px !important;
}
.message_error {
    background-color: #380700 !important;
    border: 1px solid #380700 !important;
}
.svg .cloudBackground {
    background-image: url(http://i.imgur.com/VKU26oE.png) !important;
}
.bottomBorder {
    border-bottom: 1px solid #383838 !important;
}
#signInMSA:hover {
    background-color: #006990 !important;
}
:root .swx .tile.online .presence::after,
:root .swx .themeWhite.side .recent.active .tile.online .presence:after,
:root .swx .themeWhite.side .recent.active .tile.mobile .presence:after,
:root .swx .themeWhite.side .searchItem.active .tile.online .presence:after,
:root .swx .themeWhite.side .searchItem.active .tile.mobile .presence:after {
    color: #1F831E !important;
}
:root .swx .UserSettingsPage-category.active {
    background-color: #003448 !important;
}
:root .swx .ToggleButton,
:root .swx .chat .toggler {
    background-color: #444 !important;
}
:root .swx .UserSettingsPage-detail--white:before {
    border-color: #383838 !important;
}
:root .swx .UserSettingsPage-category.active .UserSettingsPage-label:before {
    color: #FFF !important;
}
:root .swx .Me-content .ToggleButton--checked,
:root .swx .ToggleButton--checked,
:root .swx .chat .toggler.checked {
    background-color: #00AFF0 !important;
}
:root .swx .chat .toggler.checked:hover,
:root .swx .chat .toggler.checked.focus {
    background-color: #00AFF0 !important;
    border-color: #00AFF0 !important;
}
:root .swx .UserSettingsPage-option:focus {
    border-color: transparent !important;
}
:root .swx .ContactProfile--data-item {
    color: #FFF !important;
}
:root .swx .shareControlWrapper .title {
    color: #FFF !important;
}
:root .swx .row.people.separator .strong {
    color: #FFF !important;
    margin-bottom: 1em !important;
}
.column .separator p,
.row.people.separator p.strong {
    background: #003448 !important;
    height: 20px !important;
    padding: 5px !important;
    color: #FFF !important;
    text-align: center !important;
    border-radius: 20px !important;
}
.column .separator {
    padding-bottom: 10px !important;
}
:root .swx .themeLight .btn.secondary > span:not(.iconfont),
:root .swx .themeLight .btn > span:not(.iconfont),
:root .swx .themeLight .btn.primary > span:not(.iconfont) {
    color: #161616 !important;
}
:root .swx .themeWhite.side .navigation .navItem:not(.active):hover {
    background: #111 !important;
}
:root .swx .themeWhite.peoplePicker .recent.active,
:root .swx .themeWhite.peoplePicker .searchItem.active {
    background-color: #111 !important;
}
:root .swx .themeWhite.peoplePicker .searchItem.active .tile .presence::before {
    background-color: #111 !important;
}
:root .swx .contactPickerInput .contacts .contact-pill {
    background-color: #111 !important;
    border: 1px solid #111 !important;
}
:root .swx .contactPickerInput .contacts .contact-pill:hover {
    background-color: #222 !important;
    border-color: #222 !important;
}
:root .swx .contactPickerInput .contacts .contact-pill .tile h4 {
    color: #6E6E6E !important;
}
:root .swx .contactPickerInput .contacts .contact-pill:hover .tile h4 {
    color: #FFF !important;
}
.iconfont.e412::before,
.iconfont.tick::before,
.iconfont.ok::before {
    color: #00AFF0 !important;
}
:root .swx .DialPad {
    border-left: 1px solid #383838 !important;
    border-bottom: 1px solid #383838 !important;
}
:root .swx .DialPad-key {
    background-color: #111 !important;
    border-top: 1px solid #383838 !important;
    border-right: 1px solid #383838 !important;
}
:root .swx .DialPad-key:hover,
:root .swx .DialPad-key:focus {
    background-color: #222 !important;
}
:root .swx .DialPad-key:hover .icon,
:root .swx .DialPad-key:focus .icon {
    color: #FFF !important;
}
:root .swx .DialPad-key .icon {
    color: #6E6E6E !important;
}
:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button:hover::before,
:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button:active::before,
:root .swx .chat .conversationHeader .contactPickerWrapper .conversationShareLink button:focus::before {
    border-color: #383838 !important;
    background-color: #222 !important;
}
:root .swx .inviteLink {
    border: 1px solid #111 !important;
    background-color: #111 !important;
}
:root .swx .chat .history .message.participant.their.spacesWelcomeMessage .bubble .ctas .cta:hover {
    background-color: #111 !important;
}
.message.participant.their.spacesWelcomeMessage .bubble .ctas .cta:active {
    background-color: #222 !important;
}
:root .swx .chat .history .message.participant.their.spacesWelcomeMessage .bubble .ctas .cta {
    border: 1px solid #6E6E6E !important;
}
:root .swx .conversation-share-link-header .conversationShareLink .btn.shareButton:hover::before,
:root .swx .conversation-share-link-header .conversationShareLink .btn.shareButton:active::before,
:root .swx .conversation-share-link-header .conversationShareLink .btn.shareButton:focus::before {
    background-color: #222 !important;
}
:root .swx .chat .conversationHeader .headerMain .roster .grid .tile.conversationTopic .displayMessage .divider {
    color: #383838 !important;
}
:root .swx .conversationShareLink .tooltip .invite-link p.link {
    border-top: 1px solid #383838 !important;
}
:root .swx .conversationShareLink .tooltip .invite-link .inviteLink .menu {
    border-top: 1px solid #383838 !important;
}
:root .swx .SkypeOutHeader {
    border-bottom: 1px solid #383838 !important;
}
:root .swx .SelectBox-options .SelectBox-arrow {
    background: transparent url('http://i.imgur.com/iOy2w2L.png') no-repeat scroll left top !important
}
:root .swx .SelectBox-options {
    background-color: #111 !important;
    border: 1px solid #383838 !important;
}
:root .swx .SelectBox-optionName {
    color: #CEDDE5 !important;
}
:root .swx .SelectBox-option:not(.selected):focus,
:root .swx .SelectBox-option:not(.selected):hover {
    background-color: #222 !important;
}
:root .swx .SelectBox-option:active .SelectBox-optionName,
:root .swx .SelectBox-option:active .SelectBox-optionDescription,
:root .swx .SelectBox-option.selected .SelectBox-optionName,
:root .swx .SelectBox-option.selected .SelectBox-optionDescription {
    color: #000 !important;
}
:root .swx .Avatar--presence:after {
    border: 3px solid #161616 !important;
    background-color: #161616 !important;
}
:root .swx .Avatar--selected:after {
    border-color: #003448 !important;
    background-color: #003448 !important;
}
:root .swx .recents .recent.message:hover .Avatar:not(.Avatar--selected):after {
    border-color: #111 !important;
    background-color: #111 !important;
}
:root .swx .UserSettingsPage-category {
    border-radius: 0px !important;
}
:root .swx .Avatar--online:after {
    color: #1F831E !important;
}
:root .swx .Avatar--selected.Avatar--online:after,
:root .swx .Avatar--selected.Avatar--mobile:after {
    color: #1F831E !important;
}
:root .swx .LanguagePicker-item.selected:hover {
    color: #000 !important;
}
.column.unit4 .iconfont.e300:before,
.column.unit4 .iconfont.message:before {
    background-color: inherit !important;
}
:root .swx .column.unit4 .iconfont.message {
    background-color: inherit !important;
}
:root .swx .themeWhite.side .recent:hover,
:root .swx .themeWhite.side .recent.hover,
:root .swx .themeWhite.side .recent:focus,
:root .swx .themeWhite.side .recent.focus,
:root .swx .themeWhite.side .searchItem:hover,
:root .swx .themeWhite.side .searchItem.hover,
:root .swx .themeWhite.side .searchItem:focus,
:root .swx .themeWhite.side .searchItem.focus {
    background-color: #111 !important;
}
:root .swx .side .timeline .recent.unread .counter .circle:before {
    background: transparent !important;
}
:root .swx .chat .conversationHeader {
    background-color: transparent !important;
}
:root .swx .themeWhite .timeline .recent:hover:not(.active) .unseenNotifications .counter .circle:before,
:root .swx .themeWhite .timeline .recent:focus:not(.active) .unseenNotifications .counter .circle:before {
    background-color: transparent !important;
}
:root .swx .themeWhite .timeline .recent.active.unread .unseenNotifications .counter .circle:before {
    background-color: transparent !important;
}
:root .swx .FileTransfer {
    background-color: #003448 !important;
}
:root .swx .UserSettingsPage-category:hover {
    background-color: #111 !important;
}
:root .swx .themeWhite.side .recent:hover,
:root .swx .themeWhite.side .recent.hover,
:root .swx .themeWhite.side .recent:focus,
:root .swx .themeWhite.side .recent.focus,
:root .swx .themeWhite.side .searchItem:hover,
:root .swx .themeWhite.side .searchItem.hover,
:root .swx .themeWhite.side .searchItem:focus,
:root .swx .themeWhite.side .searchItem.focus {
    background-color: #111 !important;
}
:root .swx .UserSettingsPage-category.active:hover {
    background-color: #003448 !important;
}
:root .swx .themeWhite.side .recent.active,
:root .swx .themeWhite.side .searchItem.active {
    background-color: #003448 !important;
}
:root .swx .UserSettingsPage-option .pref-select-element > select {
    border: 1px solid #383838 !important;
}
:root .swx .UserSettingsPage-option .pref-select-element::after {
    color: #00AFF0 !important;
}
:root .swx .chat .conversationHeader .jumpToConversation {
    border-bottom: 1px solid #383838 !important;
}
:root .swx .chat .conversationHeader .headerMain.canJoinCall .tile .presence:before {
    background-color: transparent !important;
}
:root .swx .themeWhite .timeline .current .recent.active.unread .counter .circle:before {
    background-color: transparent !important;
}
:root .swx .themeWhite .timeline .recent:hover:not(.active) .counter .circle:before,
:root .swx .themeWhite .timeline .recent:focus:not(.active) .counter .circle:before {
    background-color: transparent !important;
}
.iconfont.e41e:before,
.iconfont.chevronDown:before {
    color: #161616 !important;
}
:root .swx .btn.secondary:hover:before,
:root .swx .btn.secondary:focus:before {
    background-color: #00AFF0 !important;
}
:root .swx .btn.secondary:active:before {
    background-color: #0095CC !important;
}
:root .swx .chat .conversationHeader .headerControls .btn.joinCall::before,
:root .swx .controls .btn.green:before,
:root .swx .controls .btn.primary.green:before,
:root .swx .controls .btn.secondary.green:before {
    background-color: #1F831E !important;
}
:root .swx .chat .conversationHeader .headerControls .btn.joinCall:hover::before,
:root .swx .controls .btn.green:hover:before,
:root .swx .controls .btn.green:focus:before,
:root .swx .controls .btn.primary.green:hover:before,
:root .swx .controls .btn.primary.green:focus:before,
:root .swx .controls .btn.secondary.green:hover:before,
:root .swx .controls .btn.secondary.green:focus:before {
    background-color: #1A6A1A !important;
}
:root .swx .side .timeline .current .recent.unread .counter {
    color: #000 !important;
}
:root .swx .chat .conversationHeader .headerMain.canJoinCall .btn.circle.stroke::after,
:root .swx .chat .conversationHeader .headerMain.canJoinCall .btn.circle.stroke > span,
:root .swx .chat .conversationHeader .headerMain.canJoinCall .btn.circle.stroke:hover::after,
:root .swx .chat .conversationHeader .headerMain.canJoinCall .btn.circle.stroke:hover > span {
    border-color: #00AFF0 !important;
    color: #00AFF0 !important;
}
:root .swx .themeLight .btn.secondary.circle.stroke:hover::before,
:root .swx .themeLight .btn.secondary.circle.stroke:focus::before {
    background-color: transparent !important;
}
:root .swx .PresencePopup-status:hover {
    background-color: #222 !important;
}
span.tileAvatar.circle.presence:before {
    background-color: #202020 !important;
}
*:focus::-webkit-input-placeholder {
    color: #161616 !important;
}
*::-webkit-input-placeholder {
    color: #00AFF0 !important;
}
