@-moz-document domain("3dsthem.es") {
.theme {
    background: #161616 !important;
}
#theme-more {
    background-color: #161616 !important;
    color: #ccc !important;
}
#theme-comments-container>.theme-comment {
    background: #161616 !important;
}
.theme-comment {
    border-top: solid 1px #ccc !important;
}
.btn-flat {
    color: #ccc !important;
}
.modal {
    background-color: #161616 !important;
    color: #ccc !important;
}
.modal .modal-footer {
    background-color: #161616 !important;
}
#notifications {
    background: #161616 !important;
    color: #ccc !important;
}
#notifications>div:hover {
    background: #202020 !important;
}
#notifications>div {
    outline: solid 1px #2f2f2f !important;
}
#notifications>div.new {
    background: #292929;
}
select {
    background-color: rgb(22, 22, 22);
    border: 1px solid #000000;
}
.collection .collection-item {
    background-color: #161616;
    border-bottom: 1px solid #000000;
}
.collection {
    border: 1px solid #000000;
}
}
