.username .style3 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style3:after {
    content: ' ★';
    color: #FF0000;
}
.username .style54 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style54:after {
    content: ' ★';
    color: #0000FF;
}
.username .style17 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style17:after {
    content: ' ★';
    color: #0000FF;
}
.username .style27 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style27:after {
    content: ' ★';
    color: #AA44FF;
}
.username .style53 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style53:after {
    content: ' ★';
    color: #FF0088;
}
.username .style48 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style48:after {
    content: ' ★';
    color: #000000;
}
.username .style43 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style43:after {
    content: ' ★';
    color: #008000;
}
.username .style10 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style10:after {
    content: ' ★';
    color: #F96501;
}
.username .style21 {
    color: #9ABAD1;
    font-weight: normal;
}
.username .style21:after {
    content: ' ★';
    color: #B8E657;
}
