@-moz-document regexp("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe/edit.html.*"), regexp("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe/manage.html*"), regexp("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe/popup.html.*") {
#header {
    color: #e1e1e1 !important;
    background: #262626 !important;
    border-style: none !important;
}

input {
    background-color: #161616 !important;
    color: #CCCCCC !important;
    border: 1px solid #000000 !important;
}

select {
    background-color: #161616 !important;
    color: #CCCCCC !important;
    border: 1px solid #000000 !important;
}

button {
    background: #202020 !important;
    border: 4px solid #202020 !important;
    margin: 2px !important;
    color: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.82) !important;
}
button:hover {
    background: #161616 !important;
    border: 4px solid #161616 !important;
    color: #fff !important;
    border-radius: 5px !important;
}
body {
    color: #e1e1e1 !important;
    background: #1c1c1c !important;
}

#sitename {
    color: #4890a5 !important;
    border-bottom: 1px solid #000000 !important;
}

#installed {
    background-color: #1c1c1c !important;
}

#find-styles {
    background-color: #1c1c1c;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.18), 0 -1px 0 0 #000000 !important;
}

.style-name {
    color: #4890a5 !important;
}

.entry {
    background: #0e0e0e !important;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.33) !important;
    border-radius: 4px !important;
}

a, a:visited {
    color: #e1e1e1 !important;
}

select {
    width: 100px !important;
}
#installed::after {
  background-color: #1c1c1c !important;
}
#disable-all-container {
    background-color: #1c1c1c !important;
    box-shadow: 0 1px 0 0 #000000 !important;
}
.tabs-container header label {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.13), -1px 0 0 0 #000000 !important;
}
.tabs-container header .tab-header.active {
    background-color: #161616 !important;
}
.tabs-container header .tab-header {
    background-color: #202020 !important;
}
#disable-all-container .disable-all-lable {
    color: #4890a5 !important;
}
#recommended, #installed {
    background-color: #1c1c1c !important;
}
#help-popup {
    background-color: #1c1c1c !important;
}
#save-button:after {
content:'d' !important;
}

body.dirty #save-button:after {
content:'?' !important;
}
.CodeMirror {
    -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35) !important;
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35) !important;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35) !important;
    background: #272727 !important;
    color: #8F938F !important;
    line-height: 1.4em !important;
    font-size: 13px !important;
    height: 70%;
    outline: transparent !important;
    border: 1px solid #505050 !important;
}
}
