@-moz-document domain("streamable.com") {
.landing, .landing .pane-title, .app-container .main .main-content, .video-item.grid .card, .drop-content .actions-menu, .albums-list .card.albums-list-items, .app-container .app-body .main .main-footer, .videos-list .videos-list-items.list, .modal-content, .videoselector .selection-item .card .card-block, .joiner .actions, .joiner .timeline, #player.container {
    background-color: #161616 !important;
}
.landing .nav-colored, input, .app-container .app-body .sidebar, .video-item.grid .card .card-footer, .videos-list .video-list-metadata .sort-input, .form-control:disabled, .form-control[readonly], .card, .settings .card .card-footer, #player.container #footer-content {
    background-color: #202020 !important;
}
.landing .start-pane .start-form .url-picker input, .landing .start-pane h1, .landing .navbar-nav .nav-btn, .landing .features-pane .feature .feature-description h3, .landing .examples-pane .example .title, .nav-pills .nav-link, select option, .modal-body, #player.container #title {
    color: #cccccc !important;
}
.button:hover, button:hover {
    background: linear-gradient(180deg,hsla(0, 1%, 18%, 0.5),hsla(0, 1%, 18%, 0.5)) 0 no-repeat,50% no-repeat #161616 !important;
}
.button, button, .rc-checkbox-inner {
    background: linear-gradient(180deg,hsla(0, 1%, 18%, 0.5),hsla(0, 1%, 18%, 0.5)) 0 no-repeat,50% no-repeat #161616 !important;
}
.albums-list .album-item, .embed-maker .embed-section-header, .modal-header, #player.container #video-footer {
    border-bottom: 1px solid #000 !important;
}
.video-item.list, .modal-footer {
    border-top: 1px solid #000 !important;
}
.video-item:hover .video-url button, .video-item:hover .video-url .url, .embed-maker input[type=text] {
    border: 1px solid #000 !important;
}
.card {
    border-color: #000000 !important;
}
}
