/* ==UserStyle==
@name           NotAnotherAnimeTheme
@namespace      https://github.com/puckzxz/NotAnotherAnimeTheme
@version        1.0.0
@description    A easily customizable and automatically updating theme for Discord
@author         puckzxz
==/UserStyle== */

@-moz-document domain("discordapp.com") {
@import url(https://rawgit.com/puckzxz/NotAnotherAnimeTheme/master/css/scsl.css);


/* To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */


/* Any images you use MUST end with .jpg or .png or any other image extension */
/* This is NOT a valid link, https://imgur.com/a/ycjL2 */
/* THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */

/* If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload */


:root {
    /* Edit this to change your background */
    --background-image: url(https://i.imgur.com/DbZ9Lbkg.jpg); /* format is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, picture  */
    --friends-icon: url(https://i.imgur.com/LO8sWGR.jpg); /* format is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, position  */
    --friends-icon-position: center center; /* default: center center */
    /* Edit this to change your friends icon picture, zoom  */
    --friends-icon-zoom: 100%; /* default: 100% */
    /* Change the main color */
    --main-color: rgb(67, 181, 129); /* default: rgb(67, 181, 129); */
    /* Chande global transparency */
    --main-transparency: rgba(0, 0, 0, 0.8); /* default: rgba(0, 0, 0, 0.8); */ 

    /* Change the unread server animation. Replace it with "none" in order to remove any animations */
    --unread-server-animation: rainbow;
    /* Change background color when you hover members or friends */
    --hover-list-bg-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15) */
    /* Change the tiny border lines color */
    --border-lines-color: hsla(0,0%,100%,.1); /* default: hsla(0,0%,100%,.1);*/
    /* Change the scroll bar color appearence */
    --scroll-bar-color: rgba(255,255,255, .15); /* default: rgba(255,255,255, .15);*/

    /* Change chat messages font size, you can use any unit: px, em, rem, %, etc. */
    --font-size: 15px; /* default: 16px */
    /* Edit this to change the color of a selected text or voice join */
    --selected-text-voice-color: #0a8e01; /* default: #f6f6f7 */
    /* Edit this to change the color when you hover over a text channel */
    --text-hover-color: #3b43d9; /* default: #b9bbbe */
    /* Edit this to change the color when you hover over a voice channel */
    --voice-hover-color: #9e29ce; /* default: #f6f6f7 */
    /* Edit this to change the color of an unread text channel color */
    --unread-text-color: #dcddde; /* default: #dcddde */
    
    /* Write "transparent" in order to make the options sections with the same look as the theme  */
    --options-transparency: transparent; /* default: #2f3136 */
}

/* ADD CODE BELOW TO CUSTOMIZE THE THEME */

/*THIS MAKES THE SERVER LISTINGS SCROLLER VISIBLE(DONT CHANGE THIS IF USING SINGLE COLUMN THEME)*/
.guildsWrapper-5TJh6A {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    contain: layout;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 200px;
    left: 0px;
}

/*THIS CHANGES THE COLOR OF THE SERVER LISTINGS SCROLLBAR */
.guilds-wrapper .scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(5, 55, 88, .2); /*THIS CHANGES THE TRACKBAR COLOR*/
    border-color: rgba(255, 255, 255, .15); /*THIS CHANGES THE TRACKBAR BORDER COLOR*/
    
}

/*HIDES BLOCKED MESSAGES*/
div[class^="messageGroupBlocked-"], div[class*=" messageGroupBlocked-"] {
   display: none !important;
}

/*HIDES DIVIDER LINES*/
div[class^="divider-"], div[class*=" divider-"] {
   display: none !important;
}

/*Makes scrollbar visible*/
.scrollerWrap-1IAIlv {
    width: 69px;
}

.header-2o-2hj {
    color: rgb(67, 181, 129);
}

/* Bubble like messages */
.containerCozyBounded-1rKFAn {
    background: rgba(0, 0, 0, 0.3); /* message background color/transparency */
    margin: 8px 20px; /* space between each message */
    border-radius: 3px; /* message roundness */
}
