@-moz-document domain("www.reddit.com") {
.arrow.up {
    display: none;
}
.arrow.down {
    display: none;
}
.link .score {
    display: none;
}
.comment .score {
    display: none;
}
.comments-page .side .linkinfo .score {
    display: none;
}
.gadget .score {
    display: none;
}
.likes .score.likes {
    display: none;
}
.comment .midcol .arrow {
    display: none;
}
.likes div.score.likes {
    display: none;
}
.arrow.upmod {
    display: none;
}
.arrow.downmod {
    display: none;
}
.dislikes div.score.dislikes {
    display: none;
}

.dislikes .score.dislikes {
    display: none;
}
}
